<!DOCTYPE html>
<html>
  <head>
    <title>Start Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body ng-app class="container">
    <h1>Hello MongoRest!</h1>
    <p>This is a sample project using MongoDB persistence, JAX-RS middle tier,
      JSON over HTTP wire format and AngularJS/HTML/AJAX front-end.</p>
    <h2>RESTful backend</h2>
    <p>The application has a fully RESTful backend. Which means you can issue plain
      HTTP requests with <a href="http://curl.haxx.se/‎"<code>curl</code></a> to perform all CRUD operations.</p>
    <dl>
      <dt>List records</dt><dd><code>curl http://localhost:8080/api/hello</code></dd>
      <dt>Get a single record</dt><dd><code>curl http://localhost:8080/api/hello/*some-id-here*</code></dd>
      <dt>Add new record</dt><dd><code>curl -H 'Content-Type: application/json' --data '{"greeting":"sup!", "name":"dude"}' -X POST http://localhost:8080/api/hello</code></dd>
      <dt>Update record</dt><dd><code>curl -H 'Content-Type: application/json' --data '{"greeting":"bye!", "name":"mate"}' -X PUT http://localhost:8080/api/hello/*some-id-here*</code></dd>
      <dt>Delete record</dt><dd><code>curl -X DELETE http://localhost:8080/api/hello/*some-id-here*</code></dd>
    </dl>
    <h2>Usage</h2>
    <p>Below is a list of records that are stored in the database. Click on any of them
      (or click the <i class="icon-edit"></i>edit icon) to load them into the form at the top
      and then <i class="icon-ok"></i>save them.
      The form can also be used to <i class="icon-plus-sign"></i>add new entries. To cancel an
      edit or add, just click the <i class="icon-remove"></i>cancel button. And finally, you can use the
      <i class="icon-remove-sign"></i>remove icon to delete an entry. It will ask for confirmation. If you
      want to delete without confirmation, then you can press <code>SHIFT</code> key while clicking.</p>
    <div ng-controller="HelloCtrl">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th class="span6">Greeting</th>
            <th class="span6">Name</th>
            <th><button ng-click="list()" class="btn"><i class="icon-refresh"></i>Refresh</button></th>
          </tr>
        </thead>
        <tbody>
          <tr class="well">
            <td><input ng-model="g.greeting" type="text" placeholder="enter greeting"></td>
            <td><input ng-model="g.name"     type="text" placeholder="enter name"></td>
            <td><button ng-show="idx < 0" ng-click="save(g)" class="btn"><i class="icon-plus-sign"></i>Add</button>
              <button ng-hide="idx < 0" ng-click="save(g)" class="btn"><i class="icon-ok"></i>Save</button>
              <button ng-click="cancel()" class="btn"><i class="icon-remove"></i>Cancel</button></td>
          </tr>
          <tr ng-repeat="g in greetings">
            <td>{{g.greeting}}</td>
            <td>{{g.name}}</td>
            <td><button ng-click="remove($index, $event)" class="btn"><i class="icon-remove-sign" title="delete this record"></i>Delete</button>
              <button ng-click="edit($index)" class="btn"><i class="icon-edit" title="edit this record"></i>Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script>
      function HelloCtrl($scope, $http) {
        $scope.list = function() {
          $scope.greetings = [];
          $http.get("api/hello", {}).success(function(data) {
            $scope.greetings = data;
          });
        };
        $scope.remove = function(idx, $event) {
          if (!$event.shiftKey && !confirm("Are you sure you want to permanently delete this record from the system?")) {
            return;
          }
          var g = $scope.greetings[idx];
          $http.delete("api/hello/" + g._id, {}).success(function(data) {
            $scope.greetings.splice(idx, 1);
          });
        };
        $scope.save = function(g) {
          $scope.g = {}; // clear out the current insert form
          if (g._id) {
            $http.put("api/hello/" + g._id, g, {headers: {"Content-Type": "application/json"}}).success(function(data) {
              $scope.greetings[$scope.idx] = g;
              $scope.idx = -1;
            });
          } else {
            $http.post("api/hello", g, {headers: {"Content-Type": "application/json"}}).success(function(data) {
              g._id = data;
              $scope.greetings.unshift(g);
            });
          }
        };
        $scope.edit = function(idx) {
          $scope.idx = idx;
          $scope.g = $scope.greetings[idx];
        };
        $scope.cancel = function(idx) {
          $scope.idx = -1;
          $scope.g = {};
        };
        // populate greetings
        $scope.list();
        $scope.g = {};
        $scope.idx = -1;
      }
    </script>
  </body>
</html>
